## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>
<p>En este documento encontraréis un listado de las preguntas más frecuentes y sus respuestas</p>
<br/>
<h2><b>General</b></h2>

<p><b>¿Qué es UPVX?</b></p>
<p style="text-align:justify;">UPV[X] es la plataforma MOOC de la Universitat Politècnica de València. En UPV[X] encontrarás a tu disposición diferentes cursos elaborados por el claustro de profesores de la universidad, cuyas especialidades abarcan un gran número de áreas. Para realizar los contenidos de estos cursos se utiliza la tecnología POLIMEDIA.</p>
<p><b>¿Qué es un MOOC?</b></p>
<p style="text-align:justify;">MOOC son las siglas en inglés de Massive Online Open Course, en castellano Cursos Online Masivos y Abiertos. Es una modalidad educativa que se caracteriza por ser abierta y gratuita y estar diseñada sobre una plataforma educativa en Internet que permite un acceso masivo a los cursos, con la finalidad de extender los conocimientos universitarios a un público más amplio.</p>
<p><b>No soy miembro de la UPV, ¿puedo realizar un curso de UPV[X]?</b></p>
<p style="text-align:justify;">Por su carácter abierto, los MOOC de la UPV van dirigidos a cualquier persona con acceso a internet, indiferentemente si es miembro de la UPV o no.</p>
<p><b>¿Qué es POLIMEDIA?</b></p>
<p style="text-align:justify;">POLIMEDIA es una tecnología elaborada en la UPV para la elaboración de contenidos audiovisuales de calidad de forma rápida y con un bajo coste de producción.</p>
<p><b>¿Cómo funcionan los cursos de UPV[X]?</b></p>
<p style="text-align:justify;">La estructura de los cursos consiste fundamentalmente en una serie de vídeos donde se explican los conceptos básicos, segmentados de forma que sea posible consultar cada concepto tantas veces como el alumno necesite; una serie de ejercicios intercalados con los vídeos que permiten al alumno consolidar lo aprendido; unos exámenes tras cada unidad para comprobar la progresión del alumno; un examen final de verificación y, finalmente, un foro de soporte en el que los alumnos pueden intercambiar dudas y conocimientos con el resto de alumnos y los profesores.</p>

<br/>
<h2><b>Estudiantes</b></h2>

<p><b>¿Cuándo empieza cada curso?</b></p>
<p style="text-align:justify;">UPV[X] lanza periódicamente nuevas ediciones de sus cursos, puedes consultar la fecha de las próximas ediciones en la portada de la plataforma.</p>
<p><b>¿Cuántos cursos puedo realizar?</b></p>
<p style="text-align:justify;">En principio un alumno puede inscribirse a tantos cursos como quiera, aunque hay que prever que cada curso, en función de su contenido, puede exigir entre 2 y 5 horas semanales de dedicación, aproximadamente.</p>
<p><b>¿Cuánto dura un curso de UPV[X]?</b></p>
<p style="text-align:justify;">La duración de los cursos UPV[X] es variable, actualmente los hay desde 2 semanas hasta 12, pero esto puede cambiar.</p>
<p><b>¿Existen plazos en cada curso?</b></p>
<p style="text-align:justify;">Es recomendable que el alumno siga el curso en las fechas previstas para cada edición, de forma que pueda compartir su proceso de aprendizaje con el resto de los alumnos, pero no es obligatorio. En aquellos cursos de nueva creación el material se irá abriendo conforme avance el curso.<br/>
Una vez cerrado el curso los alumnos que ya estén inscritos en él podrán seguir accediendo al material docente como curso archivado pero ya no podrán acceder a los exámenes calificables.</p>
<p><b>¿Cuál es el material disponible en un curso de UPV[X]?</b></p>
<p style="text-align:justify;">Cada curso dispone de una serie de vídeos en el que se explican conceptos básicos, vídeos que, en la mayor parte de las ocasiones, van acompañados de un documento de apoyo e intercalados con preguntas tipo test de refuerzo. Al final de cada unidad y al acabar el curso se realizará un examen para evaluar que el alumno ha adquirido los conocimientos que pretende transmitir el curso.</b></p>
<p><b>¿Cuáles son los requisitos para superar un curso?</b></p>
<p style="text-align:justify;">El profesor de cada curso determinará el peso de cada examen y el porcentaje necesario para aprobar, lo que estará publicado en la documentación del curso.</b></p>
<p><b>¿Cómo me inscribo en un curso?</b></p>
<p style="text-align:justify;">Accede a la página del curso y pulsa en el botón de inscribirse en el curso. Para inscribirte tendrás que crear una cuenta en la plataforma.</b></p>

<br/>
<h2><b>Acreditaciones</b></h2>

<p><b>¿Qué es una credencial?</b></p>
<p style="text-align:justify;">En la UPV estamos comprometidos con el proyecto de seguir ofreciendo educación universitaria de calidad de forma gratuita. Por ello trabajamos para conseguir que la iniciativa MOOC sea sostenible en el tiempo y, siguiendo los pasos de edx.org, institución sin ánimo de lucro de la que formamos parte y que es una referencia en el mundo de los MOOC, hemos decidido no emitir más credenciales gratuitas sin validez académica a partir del 1 de enero de 2016.</p>
<p style="text-align:justify;">Estamos trabajando para sustituir estas credenciales por otros certificados en los que, a cambio de un pago razonable, se aporte más valor al estudiante. Certificados que esperamos que, a medio plazo, posibiliten que la iniciativa obtenga ingresos suficientes para hacer viable su continuidad a largo plazo. En todo caso, el acceso a los contenidos sigue y seguirá siendo gratuito.</p>
<br/>


</section>
