<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_("Terms of Service")}</title></%block>
          <%block name="bodyclass">view-register</%block>

<section class="static-container tos">
<h1>${_("Terms of Service")}</h1>
<p>Las presentes condiciones generales de uso del Sitio Web UPV[X], cuyo alojamiento es ofrecido por la UNIVERSITAT POLITÈCNICA DE VALÈNCIA, en adelante, UPV, entidad que es titular del dominio web http://upvx.es/ (en adelante SITIO WEB).</p>

<p>La estructura del presente aviso legal está reflejada en el siguiente índice:</p>
<ul>
<li>1. Información general</li>
<li>2. Objeto del SITIO WEB</li>
<li>3. Condiciones generales de uso del SITIO WEB</li>
<li>4. Propiedad Intelectual e Industrial</li>
<li>5. Enlaces</li>
<li>6. Exclusión de responsabilidad</li>
<li>7. Protección de Datos Personales y Uso de Cookies</li>
<li>8. Modificación del SITIO WEB</li>
<li>9. Legislación aplicable y jurisdicción</li>
<li>10. Código de honor</li>
</ul>

<p>El objeto de este aviso legal es cumplir con todas las obligaciones a las que está sujeto un servicio de la sociedad información como el prestado por el SITIO WEB, así como establecer las Condiciones Generales que regulan el acceso a y el uso del mismo.</p>

<h2>1. Información general</h2>

<h3>1.1. Datos Identificativos</h3>
<p>En cumplimiento del deber de información establecido en el artículo 10 de la Ley 34/2002, de 11 de julio, de la Sociedad de la Información y de Comercio Electrónico, informamos que UPV es la denominación de Universitat Politècnica de València, entidad titular del presente sitio Web. La sede del rectorado de la UPV se encuentra en la calle Camino de Vera s/n, 46022 de Valencia.</p>
<p> El número CIF es Q-4618002-B.</p>
<p>El correo electrónico de contacto del SITIO WEB es: admin@upvx.es</p>

<h3>1.2. Titularidad del SITIO WEB</h3>
<p>UPV es el titular en EXCLUSIVA del SITIO WEB que pone a disposición de los Usuarios de Internet con el fin de prestar los Servicios virtuales asociados a la Comunidad Virtual UPV[X].</p>

<h2>2. Objeto del sitio web</h2>

<p>El objeto de la web www.upvx.es es funcionar como punto de encuentro virtual y herramienta para cumplir con los objetivos de la Comunidad de Aprendizaje Virtual UPV[X]. Estos objetivos son los siguientes:</p>
<ul>
<li>Innovación Tecnológica: Fomentar la innovación y la generación de nuevos recursos tecnológicos aplicables a la educación virtual como herramienta para facilitar el acceso a la capacitación profesional y la formación superior del futuro.</li>
<li>Innovación Metodológica: Estudio y experimentación de nuevas metodologías y estrategias pedagógicas disruptivas que posibiliten el uso de la tecnología e internet (usos innovadores de plataformas de e-Learning, aprendizaje entre pares, aprendizaje social, aprendizaje autodidacta, aprendizaje masivo…). Innovación abierta en recursos educativos y procesos: Explorar posibilidades e iniciativas innovadoras en el uso de repositorios abiertos de contenidos educativos y nuevas formas de acreditación y certificación abiertas que permitan formar de un modo más flexible, modular y ágil, a los nuevos perfiles profesionales que demanda el nuevo entorno digital.</li>
<li>Potenciación de la formación permanente online como modelo educativo con enorme potencial para dar respuesta a la formación de nuevos perfiles profesionales que demanda el nuevo mercado de trabajo. A través de esta estrategia de formación permanente online se puede capacitar y acreditar capacidades y competencias no reconocidas ni certificables actualmente pero de interés para los agentes demandantes de nuevos profesionales que necesitan perfiles adaptados a la nueva Economía Digital. </li>
<li>Fomentar el Emprendimiento basado en el Conocimiento: Potenciación de la formación, interacción y lanzamiento de nuevas iniciativas de emprendimiento dentro de las posibilidades que brinda el mundo digital.</li>
</ul>

<h2>3. Condiciones generales de uso del SITIO WEB</h2>

<h3>3.1 Política general</h3>
<p>Toda persona que acceda al SITIO WEB deberá leer las Condiciones Generales vigentes en el momento de su acceso, debiendo abstenerse de utilizar el SITIO WEB en caso de no estar plenamente conforme con su contenido. La mera utilización del SITIO WEB atribuye la condición de Usuario ("Usuario") y supone la plena aceptación de y la adhesión sin reservas a estas Condiciones Generales. Las presentes condiciones tienen la finalidad de regular y de informar al Usuario sobre el adecuado uso del SITIO WEB. Por tanto debe leerlas atentamente y respetar su cumplimento.</p>
<p>El mero acceso de un Usuario al SITIO WEB no implica su registro ni la obligación de aportar datos personales. Esta obligación solo tendrá lugar si el interesado desea darse de alta como Nuevo Usuario para efectuar alguna acción específica que sí requiera de dicha aportación. Por ejemplo se entiende como aportación de un dato personal, la dirección de correo electrónico.</p>
<p>El Usuario será responsable de aportar datos veraces y lícitos, al mismo tiempo que será responsable del adecuado uso del SITIO WEB.</p>
<p>Así mismo, y respecto a los contenidos, el Usuario declara asumir la responsabilidad de los contenidos, opiniones o enlaces que incorpora en los Foros y su exclusiva autoría, garantizando que los mismos no atentan contra los derechos de intimidad, privacidad, imagen o de propiedad intelectual o industrial que correspondan a terceros. En ningún caso UPV se hace responsable de las opiniones expresadas o enlaces publicados en los foros ni de las consecuencias derivadas de los mismos. UPV se reserva el derecho a poder retirar aquellos contenidos, opiniones o enlaces que infrinjan lo dispuesto en las presentes condiciones.</p>
<p>UPV no se hace responsable de la interrupción de cualquier servicio o del acceso a nuestra Web sin previo aviso, ya sea por motivos de seguridad, técnicos, de mantenimiento o causados por un tercero.</p>
<p>UPV se reserva la capacidad de modificar las presentes condiciones de uso así como las condiciones particulares que, en su caso, se puedan incluir. Los Usuarios podrán conocer cualquier modificación en dichas condiciones a través de la publicación que UPV efectuará en su SITIO WEB.</p>
<h3>3.2 Carácter gratuito del acceso y utilización del SITIO WEB</h3>
<p>La prestación de los Servicios por parte de UPV tiene carácter gratuito para los Usuarios.</p>
<h3>3.3 Veracidad de la información</h3>
<p>Toda información que sea facilitada por el Usuario a través de los Servicios debe ser auténtica y veraz. En particular, esto será aplicable a la dirección de correo electrónico que el Usuario trasmita a UPV. En todo caso el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a UPV o a terceros por la información que facilite.</p>
<h3>3.4 Menores de edad</h3>
<p>Solamente podrán hacer uso de los Servicios los menores de edad que previamente hayan obtenido permiso de sus padres, tutores, o representantes legales, los que serán a todos los efectos responsables de todos los actos ejecutados por los menores a su cargo.</p>

<h2>4. Propiedad intelectual e industrial</h2>
<p>EL SITIO WEB y los diferentes elementos y contenidos que lo integran, tales como fotografías, diseños gráficos, marcas, logotipos y otros signos distintivos, textos, vídeos o software, así como cualesquiera otros susceptibles de protección, están sujetos a derechos de propiedad intelectual e industrial de los que es titular exclusivo o cesionario UPV con el alcance requerido, o bien un tercero, no implicando cesión ni transmisión a favor del Usuario de ningún derecho de propiedad intelectual o industrial sobre el SITIO WEB ni sobre cualquiera de sus elementos integrantes.</p>
<p>Quedan expresamente prohibidos al Usuario los actos de reproducción, distribución, transformación, comunicación pública, puesta a disposición, extracción, reutilización, reenvío o la explotación por cualquier medio o procedimiento del SITIO WEB o de sus elementos integrantes, salvo los casos en que esté permitido por la ley, las licencias del material o medie autorización expresa y por escrito de UPV.</p>
<p>El Usuario podrá visualizar y obtener una copia privada temporal de los contenidos disponibles a través del SITIO WEB para su exclusivo uso personal y privado en sus sistemas informáticos, siempre que no sea con la finalidad de desarrollar actividades de carácter comercial o profesional. El Usuario deberá abstenerse de eludir o tratar de eludir cualesquiera medidas tecnológicas adoptadas por UPV para restringir actos que no cuenten con su autorización o con la de terceros titulares de derechos sobre marcas u otros signos distintivos, obras o prestaciones protegidas accesibles a través del SITIO WEB. El Usuario está obligado a respetar en cualquier caso la totalidad de los derechos de propiedad intelectual e industrial sobre el SITIO WEB, ya sean de titularidad de UPV o de terceros.</>
<p>UPV no será responsable de cualquier uso ilícito o no autorizado que el Usuario pueda efectuar.</p>

<h2>5. Enlaces</h2>
<h3>5.1 Enlaces desde otros sitios Web a UPV. Hiperenlaces.</h3>
<p>Cualquier Usuario que pretenda establecer un hiperenlace entre su página web y el SITIO WEB (en adelante se le denominará un Hiperenlace) deberán cumplir los términos establecidos en estas condiciones de uso. La inclusión de un Hiperenlace bajo términos distintos de los que se recogen a continuación requerirá la previa aceptación por escrito de UPV.</p>
<p>UPV autoriza únicamente el Hiperenlace que permita el redireccionamiento al SITIO WEB, pero el mismo en ningún caso supondrá la reproducción total o parcial del SITIO WEB.</p>
<p>El Usuario no podrá reproducir ni imitar en su página web la totalidad o parte del SITIO WEB, en particular no podrá reproducir ni imitar la forma de presentación o disposición de los contenidos del SITIO WEB de tal forma que se pueda generar un riesgo de asociación o confusión entre el SITIO WEB y la página web del Usuario.</p>
<p>Queda prohibida la utilización de frames o marcos así como de enlaces ensamblados o profundos al SITIO WEB que generen confusión y que puedan atribuir la titularidad de contenidos a una entidad distinta a UPV, como tampoco se concede autorización para crear un entorno o barra de navegación sobre los contenidos del SITIO WEB.</p>
<p>Están autorizados los enlaces desde otras web a www.upvx.es con el objetivo de difundir las actividades de este proyecto y potenciar la participación en el mismo.</p>
<p>Queda prohibida la declaración o sugerencia directa o indirecta de la existencia de una relación de colaboración, joint venture o asociación empresarial de cualquier clase entre la página web o empresa del Usuario con UPV. A este respecto, el Usuario se abstendrá de presentar los contenidos puestos a disposición en la página web donde incorpore el Hiperenlace, como contenidos autorizados, aprobados o supervisados por UPV.</p>
<p>La página Web en la que se establezca el Hiperenlace no podrá contener ningún signo distintivo, incluidas denominaciones, logotipos o eslóganes, que identifiquen a UPV, excepción hecha de aquellas denominaciones que formen parte del propio enlace.</p>
<p>La página Web en la que se establezca el Hiperenlace no contendrá informaciones o contenidos ilícitos, contrarios a la moral, a las buenas costumbres generalmente aceptadas y al orden público, así como tampoco contendrá contenidos contrarios a cualesquiera derechos de terceros.</p>
<p>En todo caso, UPV se reserva el derecho de prohibir o inutilizar, de forma discrecional, en cualquier momento, cualquier Hiperenlace al SITIO WEB. El Usuario estará obligado a modificar o retirar inmediatamente de su página web cualquier Hiperenlace, contenido o signo distintivo propiedad de UPV si así le fuera requerido.</p>

<h2>6. Exclusión de responsabilidad</h2>
<p>UPV no garantiza la disponibilidad y continuidad del funcionamiento del SITIO WEB y de los Servicios, sin perjuicio a que, cuando sea posible, UPV advierta previamente de las interrupciones en el funcionamiento del Sitio Web y de los Servicios.</p>
<p>Queda excluida toda responsabilidad de UPV con toda la extensión contemplada en la legislación vigente, respecto de cualquier responsabilidad por daños y perjuicios de toda naturaleza que puedan atribuirse a la falta de disponibilidad o de continuidad del Sitio Web, a la defraudación de la utilidad que los Usuarios hubieren podido atribuir al Sitio Web y a los servicios, a la falibilidad de los mismos, y en especial, aunque no con carácter exclusivo, a los fallos en el acceso a las distintas páginas web del Sitio o a aquellas desde las que se prestan los servicios.</p>
<h3>6.1. Privacidad y seguridad en la utilización del SITIO WEB y de los Servicios</h3>
<p>UPV no garantiza la privacidad y seguridad de la utilización del SITIO WEB y de los Servicios y, en particular, no garantiza que terceros no autorizados no puedan tener conocimiento de la clase, condiciones, características y circunstancias del uso que los Usuarios hacen del SITIO WEB y de los Servicios. Queda excluido cualquier tipo de responsabilidad de UPV, con toda la extensión permitida la legislación vigente, por los daños y perjuicios de toda naturaleza que pudieran deberse al conocimiento que puedan tener terceros no autorizados de la clase, condiciones, características y circunstancias del uso que los Usuarios hacen del SITIO WEB y de los servicios.</p>
<h3>6.2. Exclusión de garantías y de responsabilidad de UPV en la web www.upvx.es</h3>
<p>UPV no controla ni garantiza la ausencia de virus ni de otros elementos en los Contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
<p>Queda excluida, con toda la extensión permitida por la legislación vigente, cualquier responsabilidad de UPV por los daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus o a la presencia de otros elementos en los contenidos que puedan producir alteraciones en el sistema informático, documentos electrónicos o ficheros de los Usuarios.</p>
<div class="cookies-paragraph-asic"><a name="cookies"></a><h2>7. Protección de datos personales y uso de cookies</h2>
<p>En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, los datos personales (Nombre y apellidos, correo electrónico, ciudad, país, fecha de nacimiento, sexo y nivel de estudios) se incorporarán a un fichero titularidad de UPV, con la finalidad de gestionar la participación del Usuario en el SITIO WEB, así como, mantener al Usuario informado sobre las novedades de UPV y UPV[X]. El Usuario podrá ejercitar los derechos de acceso, rectificación, cancelación y oposición, en la siguiente dirección: <a href="/contact">http://upvx.es/contact</a> ${(" y en la dirección de correo electrónico: {contact_email} ").format(contact_email=settings.CONTACT_EMAIL)}</p>
<p>UPV puede utilizar cookies cuando un Usuario navega por los sitios y páginas web del SITIO WEB. Las cookies que se puedan utilizar en los sitios y páginas web del SITIO WEB se asocian únicamente con el navegador de un ordenador determinado (un Usuario anónimo), y no proporcionan por si el nombre y apellidos del Usuario.</p>
</div>
<h2>8. Modificación del SITIO WEB</h2>
<p>UPV se reserva el derecho y la capacidad de renovar, modificar o transformar el SITIO WEB y los elementos contenidos en el mismo sin necesidad de comunicarlo previamente a los Usuarios.</p>

<h2>9. Legislación aplicable y jurisdicción</h2>
<p>Las condiciones generales y particulares de uso del SITIO WEB, así como las relaciones establecidas entre UPV y el Usuario se regirán por la legislación española vigente.</p>
<p>Cualquier controversia que pueda surgir entre UPV y el Usuario se someterá a los Juzgados y Tribunales de Valencia, con renuncia expresa a cualquier otro fuero que pudiera corresponderles.</p>

<h2><a name="honor" style="color: #585858;"> 10. Código de honor</a></h2>
<p>Todos los estudiantes registrados en la plataforma certifican que seguirán el siguiente código de conducta:
<ul>
<li>1. Me registraré utilizando únicamente una cuenta.</li>
<li>2. Mis respuestas a las actividades y exámenes serán fruto únicamente de mi trabajo, excepto en aquellos casos en los que se permita explícitamente la colaboración.</li>
<li>3. No facilitaré a nadie las soluciones de exámenes y actividades de los cursos de las que disponga (ni las generadas por mí, ni aquellas oficiales a las que pueda tener acceso).</li>
<li>4. No participaré en ninguna actividad que mejore deshonestamente mis resultados o mejore o empeore los de otros alumnos.</li>
</ul>
<br/>

</section>
