{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Has recibido este email porque has solicitado un cambio de contraseña para tu cuenta en UPV[X].{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "If you didn't request this change, you can disregard this email - we have not yet reset your password." %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}El equipo de UPV[X]{% endblocktrans %}

{% endautoescape %}
