<%! from django.utils.translation import ugettext as _ %>
<%! from django.utils import timezone %>
<%! import datetime %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>

<section class="find-courses">

<%
  course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore free courses from leading universities."))

  # not sure why this is, but if I use static.url('images/edx_bw.png') then the HTML rendering
  # of this template goes wonky

  logo_file = microsite.get_value(
    'course_index_overlay_logo_file', settings.STATIC_URL + 'images/edx_bw.png')
%>

  <header class="search">
    <div class="inner-wrapper main-search">
    </div>
  </header>

  <section class="container">
    <section class="courses">
      <ul class="courses-listing">

	    <%
                future=[]
                past=[]
                reordered=[]
                for course in courses:
                    if course.end == None:
                        course.end = timezone.now() + datetime.timedelta(days=1)
                    if course.start > timezone.now():
                        future.append(course)
                    else:
                        past.append(course)
                future = sorted(future, key=lambda course: course.start)
                past = sorted(past, key=lambda course: course.start,reverse=True)
                reordered = future + past

            %>

            %for course in reordered: 
		% if course.display_org_with_default.lower() != "poc" and course.end >= timezone.now() :
			<li class="courses-listing-item">
				<%include file="../course.html" args="course=course" />
			</li>
		% endif
            %endfor
      </ul>
      <script type="text/javascript">
                $(".edxorglink").unbind().click(function(event) {
                    event.preventDefault();
                    console.log("adsfa");
                    if (checkCookie(this.attributes['courseid'].value) == "True")
                    {
                        window.location.href=this.attributes['edxorg'].value;
                    }
                    else
                    {
                        SetCookie(this.attributes['courseid'].value,"True",30);
                        window.location.href=this.attributes['local'].value
                    }
                    return false;
                  });
      </script>
    </section>
  </section>
</section>