<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>


<link rel="stylesheet" type="text/css" href="${static.url('themes/default/css/asic.css')}" />
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>
<!--<link rel="stylesheet" type="text/css" href="${static.url('themes/default/static/css/asic.css')}" /> -->

<%namespace file='main.html' import="login_query"/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils import html %>
<%! from django_countries.countries import COUNTRIES %>
<%! from django.utils.translation import ugettext as _ %>
<%! from student.models import UserProfile %>
<%! from django.contrib.auth.models import User %>
<%! from datetime import date %>
<%! from third_party_auth import pipeline, provider %>
<%! import calendar %>

<%block name="pagetitle">${_("Edit profile")}</%block>
<%block name="bodyclass">view-register</%block>



<script language="JavaScript">

    document.addEventListener('DOMContentLoaded', function()
    {
      var origin_url = document.referrer;
      if (origin_url.match(/edit_profile$/)){ //=='http://0.0.0.0:8000/edit_profile'){

                $("#updated_profile_link").click();

                setTimeout(function(){
                    window.location.href='/dashboard';
                }, 2000);


            }

     else
     {

     }
    });


    $(function() {


        $('a[rel*=leanModal]').leanModal();


        $("#unsubscribe_accept").click(
             function()
             {
               window.location.href='/deactivate';
             }
        );


        $("#return_home").click(
             function()
             {
               window.location.href='dashboard';
             }
        );



    });

</script>

<section id="applied_update_profile" class="modal">
  <div class="inner-wrapper" role="dialog" aria-labelledby="apply_update_profile-title">



    <header>
      <h2 id="apply_update_profile-title">
        ${_("Updated Profile")}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="apply_update_profile_body">
      <form id="apply_update_profile_form">
        <div id="apply_update_profile_error" class="modal-form-error"> </div>
        ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
        <p>${_("Your data has been correctly updated. You will be redirected to your dashboard page automatically in 2 seconds.")}</p>

        <br/>
        <fieldset>
          <div class="">


              <input type="button"  value="${_('Return to dashboard')}" id="return_home"/>
              <!--<input class="close-modal" type="button" value="${_('No')}" id="unsubscribe_deny2"/> -->
            <!-- <input type="submit" id="submit_unsubscribe" value="${_('Yes, I want to unsubscribe from {platform}').format(platform=settings.PLATFORM_NAME)}"> -->
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>


<section id="apply_unsubscribe" class="modal" aria-hidden="true" >
  <div class="inner-wrapper" role="dialog" aria-labelledby="unsubscribe-title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
    </button>

    <header>
      <h2 id="unsubscribe-title">
        ${_("Unsubscribe from")} ${(" {platform}").format(platform=settings.PLATFORM_NAME)}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unsubscribe_body">
      <form id="unsubscribe_form">
        <div id="unsubscribe_error" class="modal-form-error"> </div>
        ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
        <p>${_("If you unsubscribe from the platform, all your personal data will be erased and you'll be no longer able to access your work and progress.As soon as you press the below button, you'll be logged out. Are you sure you want to unsubscribe?")}</p>

        <br/>
        <fieldset>
          <div class="">

              <input type="button" class="btn btn-primary" value="${_('Yes, I want to unsubscribe')}" id="unsubscribe_accept"/>

          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>


<section class="introduction">
  <header>
    <h1 class="title">
      <span class="title-super">${_("Modify your profile")}</span>
      <span class="title-sub">${_("Update your personal data")}</span>
    </h1>
  </header>
</section>



<section class="register container">
     <div id="asic">
  <section role="main" class="content">



        <form action="/edit_profile" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
             <div class="group group-form group-form-secondary group-form-personalinformation">
                <ol class="list-input">

            <li class="field optional asic-field" id="field-fullname">

            <label class="inline">${_("Full Name")}: </label> <span class="negrita">${up.name}</span>

            </li>

            <li class="field optional asic-field" id="field-email">

            <label class="inline">${_("Email")}: </label> <span class="negrita">${user.email}</span>


            </li>

          % if settings.REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
          <li class="field-group">
          <div class="field optional select asic-field" id="field-country">

              <label for="country">${_("Country")}: </label>
              <select id="country" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
                <option value="">--</option>

                %for code, country_name in COUNTRIES:
                %if ( code != up.country ):
                        <option value="${code}">${ unicode(country_name) }</option>
                  %else:
                        <option selected="selected" value="${code}">${ unicode(country_name) }</option>
                  %endif


                %endfor
              </select>
            </div>
           </li>
          % endif


            % if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
            <li class="field optional select asic-field">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']} select" id="field-education-level">
              <label for="education-level">${_("Highest Level of Education Completed")}: </label>
              <select id="education-level" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
                <option value="">--</option>

                %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
                  %if ( code != up.level_of_education  ):
                        <option value="${code}">${_(ed_level)}</option>
                  %else:
                        <option selected="selected" value="${code}">${_(ed_level)}</option>
                  %endif
                %endfor
              </select>
             </div>
            </li>
            % endif

            % if settings.REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
            <li class="field optional select asic-field">

              <label for="gender">${_("Gender")}: </label>
              <select id="gender" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
                <option value="">--</option>

                %for code, gender in UserProfile.GENDER_CHOICES:
                  %if (code!= up.gender) :
                    <option value="${code}">${_(gender)}</option>
                  %else:
                     <option selected="selected" value="${code}">${_(gender)}</option>
                  %endif

                %endfor
              </select>

            </li>
            % endif

            % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
            <li class="field optional select asic-field">

              <label for="yob">${_("Year of Birth")}: </label>
              <select id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>

                <option value="">--</option>


                %for year in UserProfile.VALID_YEARS:
                  %if (year == up.year_of_birth):
                    <option selected="selected" value="${year}">${year}</option>
                  %else:
                    <option value="${year}">${year}</option>
                  %endif
                %endfor

              </select>
            <!-- </div> -->
          </li>
          % endif

            % if settings.REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
             <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['city']} text asic-field" id="field-address-city">

            <label for="city">${_("City")}: </label>
            <textarea id="city" name="city">${up.city or ""}</textarea>
            <!-- </div> -->
            </li>
            % endif


            % if settings.REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
            <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['goals']} text asic-field" id="field-goals">


                <label for="goals">${_("Goals")}: </label>
                <textarea id="goals" name="goals"${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['goals'] == 'required' else ''}>${up.goals or ""}</textarea>


            </li>
            % endif

            % if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
            <li class="field ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text asic-field" id="field-address-mailing">
            <!--<li class="field-group"> -->
            <!-- <div class="field ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing"> -->
            <label for="address-mailing">${_("Mailing Address")}: </label>
            <textarea id="address-mailing" name="mailing_address">${up.mailing_address or ""}</textarea>
            <!-- </div> -->
            </li>
            % endif




                    </ol>

            </div>


            <div class="form-actions">
                <span>
                    <button name="_update" type="submit" id="submit_update" class="btn btn-primary">${_("Update Profile")}</button>
                    <button name="_cancel" type="submit" id="submit_cancel" class="btn btn-primary">${_("Cancel Update")}</button>
                    <a id="unsubscribe_link" href="#apply_unsubscribe" rel="leanModal" class="btn btn-primary active" role="button" >${_("Unsubscribe")}</a>
                    <a id="updated_profile_link" href="#applied_update_profile" rel="leanModal"></a>

                </span>

            </div>

         </form>
     </div>
  </section>
</section>











