<%! from django.utils.translation import ugettext as _ %>
<%! from django.utils import timezone %>
<%! import datetime %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
  
    </div>
  </header>
  <section class="container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            <%
                future=[]
                past=[]
                reordered=[]
                for course in courses:
                    if course.end == None:
                        course.end = timezone.now() + datetime.timedelta(days=1)
		    if course.display_org_with_default.lower()!="poc" and course.end >= timezone.now():
                        if course.start > timezone.now():
                                future.append(course)
                        else:
                                past.append(course)
                future = sorted(future, key=lambda course: course.start)
                past = sorted(past, key=lambda course: course.start,reverse=True)
                reordered = future + past
                if len(reordered) > 9:
                        reordered = reordered[0:9]
            %>

            %for course in reordered:
                <li class="courses-listing-item">
                    <%include file="course.html" args="course=course" />
                </li>
            %endfor
            </ul>
	    <div style="text-align:right">
                <a href="/courses" style="font-size:18px" title="Ver todos los cursos">Ver todos los cursos ></a>
            </div>
            <script type="text/javascript">
                $(".edxorglink").unbind().click(function(event) {
                    event.preventDefault();
                    console.log("adsfa");
                    if (checkCookie(this.attributes['courseid'].value) == "True")
                    {
                        window.location.href=this.attributes['edxorg'].value;
                    }
                    else
                    {
                        SetCookie(this.attributes['courseid'].value,"True",30);
                        window.location.href=this.attributes['local'].value
                    }
                    return false;
                  });
            </script>        
        </section>
      % endif

    </section>
  </section>
</section>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
