<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
from django.utils import timezone
from django.utils.timezone import UTC
import pytz
import datetime
from datetime import datetime as dt
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
    </div>
    <div class="home-bg-title">MOOC (cursos abiertos masivos) de la UPV</div>
    <div class="home-bg-body">para cualquiera en cualquier lugar en cualquier momento.</div>

  </header>
  <section class="courses-container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
	    <%
                future=[]
                past=[]
                current=[]
                archived=[]
                closed=[]
                reordered=[]
                for course in courses:
                    now = dt.now(UTC())
                    start = course.enrollment_start or dt.min.replace(tzinfo=pytz.UTC)
                    end = course.enrollment_end or dt.max.replace(tzinfo=pytz.UTC)

                    canenroll = False

                    if start < now < end:
                        canenroll = True
                    endif


                    if course.end == None:
                        course.end = timezone.now() + datetime.timedelta(days=1)
                    if course.start > timezone.now():
                        future.append(course)
                    elif course.end > timezone.now():
                        current.append(course)
                    elif canenroll:
                        archived.append(course)
                    else:
                        closed.append(course)
                future = sorted(future, key=lambda course: course.start)
                current = sorted(current, key=lambda course: course.start,reverse=True)
                archived = sorted(archived, key=lambda course: course.start, reverse=True)
                closed = sorted(closed, key=lambda course: course.start, reverse=True)
                reordered = future + current

            %>

	%for course in reordered:
<%
		  now = dt.now(UTC())
        	  start = course.enrollment_start or dt.min.replace(tzinfo=pytz.UTC)
        	  end = course.enrollment_end or dt.max.replace(tzinfo=pytz.UTC)

        	  canenroll = False

                  if start < now < end:
                     canenroll = True
                  endif
%>
		% if course.display_org_with_default.lower() != "poc" and canenroll :
                       <li class="courses-listing-item">
                               <%include file="course.html" args="course=course" />
                       </li>
		% endif
        %endfor    
            </ul>
        </section>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
          <div class="courses-more">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
          </div>
      % endif

      <hr style="background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 2px dimgrey !important;
    height: 0px !important;
    width: 946px !important;" />
      <div>
         <h2 style="color:#CC0000; padding-left:30px;">¿Qué es un MOOC?</h2>
         <p style="line-height: 1.4; padding-left:30px; padding-right:30px;text-align:justify;">MOOC es el acrónimo en inglés de <strong>M</strong>assive <strong>O</strong>nline <strong>O</strong>pen <strong>C</strong>ourse (que puede traducirse como Curso masivo abierto online).</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">Las siglas MOOC se utilizan para referirse a una iniciativa que comenzó en 2011 con un curso de Introducción a la Inteligencia artificial de la Universidad de Stanford en el que se inscribieron 160.000 estudiantes de 190 países, y que se ha convertido ya en un movimiento global al que se han incorporado las mejores universidades del mundo con la creación de diversas plataformas MOOC y miles de cursos que comparten un objetivo: proporcionar acceso gratuito a una formación superior de calidad a cualquiera que tenga una conexión a internet.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;margin-bottom: 16px;">Los MOOCs están basados en la integración de tecnologías que existen desde hace tiempo en Internet: el vídeo en red, la evaluación automática a distancia y los foros de preguntas y respuestas en la web. Pero es ahora cuando los usuarios se han acostumbrado a usar el vídeo en red y las redes sociales en su día a día en Internet, lo que facilita que se creen comunidades de alumnos situados en cualquier parte del mundo que comparten conocimientos y experiencias y se ayudan en el proceso de aprendizaje, dándole a la formación online un nuevo enfoque colaborativo. Esto, unido a la disponibilidad de acceso a los cursos MOOC en cualquier momento y desde cualquier lugar en donde se tenga acceso a Internet, ha permitido crear una nueva comunidad global de estudiantes.</p>
      </div>
      <div>
         <h2 style="color:#CC0000; padding-left:30px;">Características de nuestros cursos</h2>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">Los  MOOCs de <strong>UPV[X]</strong> están diseñados para ayudarte a aprender trabajando a tu ritmo de forma independiente y proporcionarte el apoyo de la comunidad de aprendizaje si te hace falta.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">Para ello los MOOCs están estructurados en módulos que suelen corresponder a una semana de trabajo (aunque no siempre es así). Los módulos se estructuran en lecciones con un vídeo, que dura normalmente entre 3 y 10 minutos, y una pregunta de refuerzo al final para ayudarte a fijar su contenido. Las lecciones están orientadas a tratar un concepto (o un número reducido de ellos) de forma que sean lo más atómicas que sea posible.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">Los cursos MOOC de UPV[X] pueden tener distintos esquemas de evaluación, pero lo habitual es que al terminar cada módulo haya un examen (normalmente tipo test) que te permitirá comprobar tu evolución y fijar los conocimientos, y que cuenta en cierto porcentaje para la evaluación final. Con ello tendrás una realimentación frecuente de tu progreso que te permitirá ir mejorar tu proceso de aprendizaje.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">Al acabar el MOOC habrá a un examen final para evaluar si has alcanzado los objetivos de aprendizaje que contará en un porcentaje mayor para la evaluación final.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;">En los MOOC también hay un foro de debate moderado por el equipo del curso donde los alumnos pueden consultar sus dudas sobre el contenido del curso y comentar aquellas cosas que les parezcan interesantes. El acceso a una comunidad online de internautas con tus mismos intereses y que están aprendiendo a la vez enriquece la experiencia del curso.</p>
         <p style="line-height: 1.4;padding-left:30px; padding-right:30px; text-align:justify;margin-bottom: 16px;">Esperamos sinceramente que disfrutes de nuestros MOOCs y aprendas con nosotros</p>
      </div>


    </section>
  </section>
    <script type="text/javascript">
	    $(".edxorglink").unbind().click(function(event) {
	        event.preventDefault();
	        console.log("adsfa");
	        if (checkCookie(this.attributes['courseid'].value) == "True")
	        {
	            window.location.href=this.attributes['edxorg'].value;
	        }
	        else
	        {
	            SetCookie(this.attributes['courseid'].value,"True",30);
	            window.location.href=this.attributes['local'].value
	        }
	        return false;
	    });
	</script>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
