<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>

<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%namespace file='main.html' import="login_query"/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils import html %>
<%! from django_countries.countries import COUNTRIES %>
<%! from django.utils.translation import ugettext as _ %>
<%! from student.models import UserProfile %>
<%! from datetime import date %>
<%! from third_party_auth import pipeline, provider %>
<%! import calendar %>

<%block name="pagetitle">${_("Edit profile")}</%block>
<%block name="bodyclass">view-register</%block>



<section class="introduction">
  <header>
    <h1 class="title">
      <span class="title-super">${_("Check your profile")}</span>
      <span class="title-sub">${_("Verify your personal data")}</span>
    </h1>
  </header>
</section>
        <section class="register container">

    <ul>
        <li class="info--username">
          <span class="title"><div class="icon name-icon"></div>${_("Full Name")}</span> <br /><span class="data">${ user.profile.name | h }</span>
        </li>

        <li class="info--gender">
          <span class="title"><div class="icon name-icon"></div>${_("Gender")}</span> <br /><span class="data">${_(user_gender)}</span>
        </li>

        <li class="info--username">
          <span class="title"><div class="icon name-icon"></div>${_("Highest Level of Education Completed")}</span> <br /> <span class="data">${_(education_utf)}</span>
        </li>

        <li class="info--year">
          <span class="title"><div class="icon name-icon"></div>${_("Year of Birth")}</span> <br /> <span class="data">${(user_yob)}</span>
        </li>

        <li class="info--country">
          <span class="title"><div class="icon name-icon"></div>${_("Country")}</span> <br /> <span class="data">${_(user_country)}</span>
        </li>

        <li class="info--goals">
          <span class="title"><div class="icon name-icon"></div>${_("Goals")}</span> <br /> <span class="data">${ user_goals}</span>
        </li>

        <li class="info--mailing_address">
          <span class="title"><div class="icon name-icon"></div>${_("Mailing Address")}</span> <br /> <span class="data">${ user_mailing_address}</span>
        </li>





    </ul>
    <a href="${reverse('update_user')}">Modify your profile</a>
            </section>




<!--    {% if name %}

    <ul>
     {% for field, value in up %}
           <li>{{up.field}} : {{up.value}}</li>
        {% endfor %}

           <li> Nombre : {{name}} </li>
    </ul>
    {% else %}
      <p> No se ha visto la variable name </p>
    {% endif %} -->

