## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<link rel="stylesheet" type="text/css" href="${static.url('themes/default/css/asic.css')}" />
<%namespace name='static' file='/static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%! from datetime import datetime %>
<%! from pytz import UTC %>



<script language="JavaScript">
    $(function() {

        $('#cookiechangerlink').leanModal({ top : 200 , clickClose : "false", closeButton: "cl"});

        $( "#change_cookies" ).change(function() {
            alert( "Handler for .change() called." );
        })

        $("#cookiesaccept").click(
             function()
             {
               SetCookie('complianceCookie','True',30);
               //location.reload();
               window.location.href='dashboard';
             }
        );

        $("#cookiesdeny").click(
             function()
             {
               SetCookie('complianceCookie','False',30);
               eraseCookie('complianceCookie');
               clearCookie('__utma','.upv.es','/');
               clearCookie('__utmb','.upv.es','/');
               clearCookie('__utmc','.upv.es','/');
               clearCookie('__utmz','.upv.es','/');

               window.location.href = 'http://www.upv.es';
             }
        );


    });
 var cookieDuration = 14;                    // Number of days before the cookie expires, and the banner reappears
 var cookieName = 'complianceCookie';        // Name of our cookie
 var cookieValue = 'True';                     // Value of cookie



 document.addEventListener('DOMContentLoaded', function()
    {
     if(checkCookie(window.cookieName) != window.cookieValue)
     {
        document.getElementById('cookiechangerlink').click();

     }
     else
     {

     }
    });

    var createCookie = function(name, value, days) {
        var expires;
        if (days)
        {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else
        {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }



 function checkCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
 }


 function SetCompCookie(cookieValue)
 {
     SetCookie('complianceCookie',cookieValue,30);
     if (cookieValue=="True")
     {
         location.reload();
     }
     else
     {
         eraseCookie('complianceCookie');
         window.open('','_self').close();
     }
 }



 function SetCookie(cookieName,cookieValue,nDays) {
    var today = new Date();
    var expire = new Date();
    if (nDays==null || nDays==0) nDays=1;
    expire.setTime(today.getTime() + 3600000*24*nDays);
    document.cookie = cookieName+"="+cookieValue
                 + ";expires="+expire.toGMTString();

 }

 function clearCookie(d,b,c){try{if(function(h){var e=document.cookie.split(";"),a="",f="",g="";for(i=0;i<e.length;i++){a=e[i].split("=");f=a[0].replace(/^\s+|\s+$/g,"");if(f==h){if(a.length>1)g=unescape(a[1].replace(/^\s+|\s+$/g,""));return g}}return null}(d)){b=b||document.domain;c=c||"/";document.cookie=d+"=; expires="+new Date+"; domain="+b+"; path="+c}}catch(j){}};

 function eraseCookie(name) {
    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
 };

</script>


<section id="change_cookies" class="modal">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_cookies_title">


    <header>
      <h2>
        <span id="change_cookies_title">Cambiar Cookies</span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_cookies_body">
      <form id="change_cookies_form">
        <div id="change_cookies_error" class="modal-form-error"> </div>
        <fieldset>
          <div class="input-group">
            <label>Este sitio web utiliza cookies propias y de terceros para optimizar tu navegación, adaptarse a tus preferencias y realizar labores analíticas.</label>
          </div>
          <section>
            <p>Aceptas nuestra <a class="cl" href="http://www.upvx.es/condiciones#cookies">politica de cookies</a>?.</p>
          </section>
          <div class="">
              <input type="button" value="${_('Yes')}" id="cookiesaccept"/>
              <input type="button" value="${_('No')}" id="cookiesdeny"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<div class="wrapper wrapper-footer">


  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-03">
          <a id="cookiechangerlink" href="#change_cookies" rel="leanModal" class="edit-email">Política de Cookies
          </a>
          </li>
          <li class="nav-colophon-04">
          <a id="faq" href="http://www.upvx.es/faqedx">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="http://www.upvx.es/contacto">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>

      <div>
          <a href="http://openedx.org" id="poweredbyopenedx">
            <img src="${static.url('themes/default/images/edx-openedx-logo-tag.png')}" width="150" height="50" alt="Powered by Open edX" />
          </a>
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="http://www.facebook.com/upvx.es" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="Facebook UPV[X]" />
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/upvx" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="Twitter UPV[X]" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/113182363688818072141/" rel="external">
              <img src="${static.url('images/social/ico-social-google.png')}" alt="Google+ UPV[X]" />
            </a>
          </li>
          <li class="nav-social-05">
            <a href="http://youtube.com/valenciaupv" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="YouTube UPV" />
            </a>
          </li>
        </ul>
      </nav>

      <p class="copyright" style="text-align:right">&copy; 2013 ASIC UPV</p>

    </div>
  </footer>
</div>
